table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  overflow: hidden;
  margin: 10px 0;
  white-space: nowrap;
}
table thead {
  box-shadow: 0 5px 10px #e1e5ee;
}

table th {
  padding: 1rem 1rem;
  color: #6b52ee;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 900;
}

table tbody {
  font-size: 1rem;
  text-align: left;
}

table td {
  padding: 1rem 2rem 1rem 1rem;
}
table .title {
  text-decoration: none;
  color: #6b52ee;
}
table .status {
  border-radius: 0.2rem;
  background-color: red;
  padding: 0.2rem 1rem;
  text-align: left;
}
table .status-pending {
  width: fit-content;
  background-color: #fff0c2;
  color: #a68b00;
}
table .status-completed {
  width: fit-content;
  background-color: #c8e6c9;
  color: #388e3c;
}
table .status-created {
  width: fit-content;
  background-color: #ffcdd2;
  color: #c62828;
}
table .amount {
  text-align: right;
}
table tr:nth-child(even) {
  background-color: #f4f6fb;
}
